<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<div th:if="${error}" style="color: red;" th:text="${error}"></div>
<form action="/register" method="POST">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Регистрация</button>
</form>

</body>
</html>
